<!-- .about-us-section -->
<section class="about-us-section container flex-center-around">

    <!-- .about-us-image -->
    <div class="about-us-image background-image" style="background-image: url('img/gallery/6.jpg');"></div>
    <!-- /.about-us-image -->

    <!-- .about-us-info -->
    <div class="about-us-info">
        <div class="sub-title">О нашей пиццерии</div>
        <h2>Мы NewPizza</h2>
        <p>Наша пиццерия лучшая в мире. Мы готовим по секретному рецепту который <span class="accent-text">привезли из Италии.</span> К  нашей пицце невозможно быть равнодушным. Шеф повар делает каждую пиццу шедевром который достоен высшей награды. И всё это <span class="accent-text">специально для вас</span></p>
        <div class="order-text">Заказывайте пиццу у нас</div>
        <div class="button"><a href="#">Заказать</a></div>
    </div>
    <!-- /.about-us-info -->

</section>
<!-- /.about-us-section -->
