<!-- .footer -->
<footer class="footer container">

    <!-- .footer-contacts-row -->
    <div class="footer-contacts-row flex-center-around">

        <!-- .map -->
        <div class="map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac9754045b236cf8990920de392bcfd2c5ea385e386e6bab4d9796f5f8a44f17a&amp;width=100%25&amp;height=340&amp;lang=ru_RU&amp;scroll=true"></script></div>
        <!-- /.map -->

        <!-- .contacts -->
        <div class="contacts">

            <!-- .logo -->
            <div class="logo"><a href="#"><img src="img/logo.png" alt="NewPizza"></a></div>
            <!-- /.logo -->

            <p><span class="accent-text">Мы готовим пиццу с любовью.</span> Вы можете связаться с нами по любому вопросу, а так же можете к нам прийти</p>

            <!-- .contacts-phone -->
            <div class="contacts-phone"><i class="fas fa-mobile-alt"></i> <span class="responsive">Телефон:</span> <a href="tel: +7(495)2982617">+7 (495) 298-26-17</a></div>
            <!-- /.contacts-phone -->

            <!-- .contacts-location -->
            <div class="contacts-location"><i class="fas fa-map-marked-alt"></i><span class="responsive"> Адрес:</span> г. Москва ул. Пречистенка 54</div>
            <!-- /.contacts-location -->

            <!-- .contacts-social-links -->
            <ul class="contacts-social-links">
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
            <!-- /.contacts-social-links -->
        </div>
        <!-- /.contacts -->
    </div>
    <!-- /.footer-contacts-row -->

    <!-- .footer-copyright-row -->
    <div class="footer-copyright-row"><i class="far fa-copyright"></i> NewPizza 2019 Все права защищены</div>
    <!-- /.footer-copyright-row -->

</footer>
<!-- /.footer -->
