<!-- .gallery-section -->
<section class="gallery-section">

    <!-- .gallery-item -->
    <div class="gallery-item gallery-item-1 background-image"></div>
    <!-- /.gallery-item -->

    <!-- .gallery-item -->
    <div class="gallery-item gallery-item-2 background-image"></div>
    <!-- /.gallery-item -->

    <!-- .gallery-item -->
    <div class="gallery-item gallery-item-3 background-image"></div>
    <!-- /.gallery-item -->

    <!-- .gallery-item -->
    <div class="gallery-item gallery-item-4 background-image"></div>
    <!-- /.gallery-item -->

    <!-- .gallery-item -->
    <div class="gallery-item gallery-item-5 background-image"></div>
    <!-- /.gallery-item -->

    <!-- .gallery-item -->
    <div class="gallery-item gallery-item-6 background-image"></div>
    <!-- /.gallery-item -->

</section>
<!-- /.gallery-section -->
