<!-- .main-section -->
<section class="main-section">

    <!-- .main-section-content -->
    <div class="main-section-content container d-flex">

        <!-- .main-section-info -->
        <div class="main-section-info">
            <h1>Вторник и четверг 2-я пицца <span class="accent-text">в подарок</span></h1>
            <p>Участвуйте в нашей акции. Покупайте одну пиццу во вторник или четверг и получайте вторую пиццу <span class="accent-text">абсолютно бесплатно.</span> <br> Доставка бесплатно.</p>
            <div class="button"><a href="#">Заказать</a></div>
        </div>
        <!-- /.main-section-info -->

        <!-- .main-section-image -->
        <div class="main-section-image"><img src="img/mainpizza.png" alt="NewPizza"></div>
        <!-- /.main-section-image -->

    </div>
    <!-- /.main-section-content -->

</section>
<!-- /.main-section -->
