<!-- .menu-section -->
<section class="menu-section container">

    <h2>Меню</h2>

    <!-- .menu-list -->
    <div class="menu-list">

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/1.png" alt="Пицца Маргарита">
            <h3>Пицца Маргарита</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус для пиццы, сыр моцарелла, орегано.</p>
            <div class="item-price">399 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/2.png" alt="Пицца Прошутто">
            <h3>Пицца Прошутто</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус для пиццы, сыр моцарелла, ветчина, орегано.</p>
            <div class="item-price">499 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/3.png" alt="Пицца Маринара">
            <h3>Пицца Маринара</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус для пиццы (двойная порция), сыр моцарелла, чеснок, орегано.</p>
            <div class="item-price">399 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/4.png" alt="Пицца Капричеза">
            <h3>Пицца Капричеза</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус для пиццы, сыр моцарелла, ветчина, грибы, маслины.</p>
            <div class="item-price">650 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/5.png" alt="Пицца с салями">
            <h3>Пицца С салями</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус для пиццы, сыр моцарелла, салями, орегано.</p>
            <div class="item-price">599 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/6.png" alt="Пицца Пеперони">
            <h3>Пицца Пеперони</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус для пиццы, сыр моцарелла, салями, болгарский перец.</p>
            <div class="item-price">599 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/7.png" alt="Пицца Королева">
            <h3>Пицца Королева</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус, сыр моцарелла, салями, помидоры, грибы, орегано.</p>
            <div class="item-price">650 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/8.png" alt="Пицца Флоренция">
            <h3>Пицца Флоренция</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус для пиццы, сыр моцарелла, креветки, помидоры, орегано.</p>
            <div class="item-price">650 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

        <!-- .menu-list-item -->
        <div class="menu-list-item">
            <img class="item-image" src="img/menu/9.png" alt="Пицца Римская">
            <h3>Пицца Римская</h3>
            <p class="item-description">особое тесто по итальянской технологии, фирменный соус для пиццы, сыр моцарелла, бекон, грибы, орегано.</p>
            <div class="item-price">650 <i class="fas fa-ruble-sign"></i></div>
        </div>
        <!-- /.menu-list-item -->

    </div>
    <!-- /.menu-list -->

    <!-- .menu-button -->
    <div class="button menu-button"><a href="#">Заказать</a></div>
    <!-- /.menu-button -->

</section>
<!-- /.menu-section -->
