<!-- .order-section -->
<section class="order-section container">

    <!-- .order-section-content -->
    <div class="flex-center-between order-section-content">

        <!-- .order-form -->
        <div class="order-form">

            <h2>Сделать заказ</h2>

            <!-- form -->
            <form action="#">

                <!-- .form-group -->
                <div class="form-group">

                    <!-- #first-name -->
                    <input id="first-name" type="text" placeholder="Ваше имя">
                    <!-- /#first-name -->

                    <!-- #second-name -->
                    <input id="second-name" type="text" placeholder="Ваша фамилия">
                    <!-- /#second-name -->

                </div>
                <!-- /.form-group -->

                <!-- #address -->
                <input id="address" type="text" placeholder="Ваш адрес">
                <!-- /#address -->

                <!-- .form-group -->
                <div class="form-group">

                    <!-- #apartment -->
                    <input id="apartment" type="text" placeholder="Квартира">
                    <!-- /#apartment -->

                    <!-- #phone-number -->
                    <input id="phone-number" type="text" placeholder="Номер телефона">
                    <!-- /#phone-number -->

                </div>
                <!-- /.form-group -->

                <!-- #kind-of-pizza -->
                <select name="" id="kind-of-pizza">
                    <option value="Выберите пиццу">Выберите пиццу</option>
                    <option value="Пицца Маргарита">Пицца Маргарита</option>
                    <option value="Пицца Прошутто">Пицца Прошутто</option>
                    <option value="Пицца Маринара">Пицца Маринара</option>
                    <option value="Пицца Капричеза">Пицца Капричеза</option>
                    <option value="Пицца С салями">Пицца С салями</option>
                    <option value="Пицца Пеперони">Пицца Пеперони</option>
                    <option value="Пицца Королева">Пицца Королева</option>
                    <option value="Пицца Флоренция">Пицца Флоренция</option>
                    <option value="Пицца Римская">Пицца Римская</option>
                </select>
                <!-- /#kind-of-pizza -->

                <!-- .form-group -->
                <div class="form-group">

                    <!-- #count-of-pizza -->
                    <input id="count-of-pizza" type="number" placeholder="Количество пицц">
                    <!-- /#count-of-pizza -->

                    <!-- #pizza-size -->
                    <select name="" id="pizza-size">
                        <option value="Выберите размер">Выберите размер</option>
                        <option value="Маленький">Маленький</option>
                        <option value="Средний">Средний</option>
                        <option value="Большой">Большой</option>
                    </select>
                    <!-- /#pizza-size -->

                </div>
                <!-- /.form-group -->

                <!-- .order-button -->
                <div class="button order-button"><a href="#">Заказать</a></div>
                <!-- /.order-button -->

            </form>
            <!-- /form -->
        </div>
        <!-- /.order-form -->

        <!-- .order-image -->
        <div class="order-image background-image"></div>
        <!-- /.order-image -->

    </div>
    <!-- /.order-section-content -->

</section>
<!-- /.order-section -->
