@import "vars"

*
  box-sizing: border-box
  margin: 0
  padding: 0

ul
  list-style: none

h1
  font-size: 50px
  line-height: 61px
h2
  font-size: 40px
  line-height: 49px
h3
  font-size: 25px
  line-height: 25px
p
  line-height: 25px

body
  font-family: 'Montserrat', sans-serif
  font-size: 14px
  min-width: 320px
  @include regularFont

.background-image
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.d-flex
  display: flex

.flex-center-between
  display: flex
  align-items: center
  justify-content: space-between

.flex-center-around
  display: flex
  justify-content: space-around
  align-items: center

.container
  max-width: 1166px
  margin: 0 auto
  padding: 0 15px

i
  font-size: 18px

a
  text-decoration: none
  color: $textColor
  @include boldFont
  transition: all 0.4s ease
  &:hover
    color: $accentColor

input, select
  box-sizing: border-box
  border: 1px solid $borderColor
  height: 46px
  border-radius: 23px
  width: 400px
  padding-left: 20px
  transition: all 0.3s ease
  &:focus
    outline: none
    border-color: $accentColor

.button a
  width: 205px
  height: 45px
  background-color: $accentColor
  display: flex
  align-items: center
  justify-content: center
  font-size: 18px
  @include boldFont
  color: $whiteColor
  border-radius: 23px
  box-shadow: 0 3px 6px 0 $borderColor

.accent-text
  color: $accentColor
  @include boldFont

.sub-title
  @include lightFont
  text-transform: uppercase
  font-size: 16px
  line-height: 19px

.burger-button
  display: none
  transition: all 0.3s ease
  .line
    width: 25px
    height: 1px
    background-color: $textColor
    margin-top: 5px
    &:first-child
      margin-top: 0

.active-burger
  transform: rotate(90deg)

.active-responsive-navigation
  display: block !important


@media only screen and (min-width: 560px)
  .active-responsive-navigation
    display: none !important
